.page{
  background-color:white;
  border-radius:5px;
  border:2px solid darkgray;
  width:1200px;
  margin: auto;
  padding:20px;
  margin-bottom:15px;
}
body{
  background-color:rgb(195, 195, 195);
}